<!-- <table>
  <tr>
    <th>Admin Pages</th>
  </tr>
  <tr>
    <td><a routerLink="/admin/aliment">gerer Aliment</a></td>
  </tr>
  <tr>
    <td><a routerLink="/admin/box">gerer Box</a></td>
  </tr>
  <tr>
    <td><a routerLink="/admin/user">gerer User</a></td>
  </tr>
  <tr>
    <td><a routerLink="/admin/saveur">gerer Saveur</a></td>
  </tr>
</table> -->

<div class="container-grille">
  <app-nav-admin></app-nav-admin>


  <main>

    <h1>Contenu principal</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque nisi,
      mollitia sequi saepe modi neque, et labore dolorum eaque, dolore earum
      iste quam tempore numquam! Vel sint adipisci laborum quasi? Incidunt
      ratione magni aut minima, debitis dicta esse nostrum consequatur,
      soluta vel labore quis vitae, atque at culpa nobis maxime officia
      mollitia! Possimus, ipsa aliquid in vel id perferendis. Quaerat cum
      aspernatur blanditiis aperiam placeat modi a, asperiores laudantium
      qui alias ex dolorem earum maxime nisi exercitationem officia nihil
      fuga fugit repellendus pariatur dicta, ad, voluptatem obcaecati
      voluptates. Voluptates totam illo eum! Maiores tempore quisquam
      accusamus magnam neque? Maxime iste labore praesentium! Culpa,
      similique deleniti necessitatibus sequi ab dolores rem nemo mollitia
      quod nisi error molestiae quis accusantium, porro placeat quibusdam
      distinctio eos tempore sed dignissimos! Doloremque veniam aliquam odit
      vel deserunt voluptas error aperiam, velit eveniet asperiores quam
      possimus. Consequatur nobis repellat corporis quia quod accusantium
      totam nihil doloribus temporibus dignissimos architecto reprehenderit
      beatae a qui sed vero suscipit magni incidunt magnam provident rem
      ipsam quos, officiis eum. Quasi quam earum consequatur doloremque
      adipisci voluptatem eaque nemo perspiciatis expedita ut ducimus, in
      beatae ipsam, repellendus quae eligendi. Perferendis dolores magnam
      dignissimos sequi nostrum nobis quis ipsa accusantium, officia facilis
      consequuntur nemo et suscipit distinctio beatae perspiciatis maxime
      minus voluptatem consequatur. Hic, iure unde error sequi provident ad
      ipsam, iste natus dignissimos molestias, deleniti ducimus odit. Quidem
      dolorem porro sint saepe dolor sit facere unde consequatur quis totam
      eaque veritatis, nulla mollitia error, deleniti at rem perferendis
      aliquam. Officiis facere optio cumque libero iure voluptatibus
      voluptas dolore illum itaque nihil. Maxime hic possimus vitae
      perferendis sequi soluta deleniti id aspernatur perspiciatis! Nisi
      voluptates soluta, eius veniam quos enim et doloribus laudantium
      tenetur consequuntur, ipsum nobis! Reiciendis repellendus dolor
      voluptate quasi placeat a provident vel fuga numquam animi. Quisquam,
      odit exercitationem!
    </p>
  </main>

</div>