<div class="container-grille">
  <app-nav-admin></app-nav-admin>
  <main>
    <div class="info-container">
      <div class="info">
        <div class="icon-container">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-fish-symbol">
          <path d="M2 16s9-15 20-4C11 23 2 8 2 8" />
        </svg>
        </div>
      </div>
      <h3>{{nombreDeSaveur}}</h3>
      <p class="nom">Nombre de saveur</p>
    </div>
    <table>
      <thead>
        <tr>
          <th scope="col">ID Saveur</th>
          <th scope="col">Nom Saveur</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let saveur of saveurs$ | async">
          <td data-label="ID Saveur" class="id">#{{ saveur.id_saveur }}</td>
          <td data-label="Nom Saveur" class="id">
            <input type="text" [(ngModel)]="saveur.nom_saveur" [readonly]="!editing[saveur.id_saveur]">
          </td>
          <td data-label="Actions" class="action id">
            <button class="edit-btn" (click)="editSaveur(saveur.id_saveur, saveur.nom_saveur)">
              <img *ngIf="!editing[saveur.id_saveur]" src="../../../assets/ressources/icons/Edit.svg" alt="">
              <img *ngIf="editing[saveur.id_saveur]" src="../../../assets/ressources/icons/check-check.svg" alt="">
            </button>
            <button class="supr-btn" (click)="deleteSaveur(saveur.id_saveur)">
              <img src="../../../assets/ressources/icons/Delete.svg" alt="">
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <p class="error">{{ errorMessage }}</p>
    <div class="div-add">
      <button class="add-saveur" (click)="addSaveur()">Ajouter une saveur</button>
      <div *ngIf="showInputs">
        <input [(ngModel)]="nom_saveur" placeholder="Nom Saveur">
      </div>
    </div>
  </main>
</div>