<section id="section-pol-conf">
    <div class="container">
      <h1>Politique de confidentialité et RGPD</h1>
      <p>
        Cette politique de confidentialité explique comment Hako Shi collecte, utilise et protège les
        informations personnelles que vous nous fournissez lorsque vous utilisez notre site web. Nous respectons votre vie privée et nous nous engageons
        à protéger vos données personnelles conformément au Règlement Général sur la Protection des Données (RGPD).
      </p>
  
      <h2>Collecte des informations</h2>
      <p>
        Nous collectons des informations personnelles lorsque vous remplissez des formulaires sur notre site web, lorsque
        vous nous contactez par e-mail ou par tout autre moyen de communication. Les informations personnelles que nous
        collectons peuvent inclure votre nom, votre adresse e-mail, votre adresse postale, votre numéro de téléphone, etc.
      </p>
  
      <h2>Utilisation des informations</h2>
      <p>
        Nous utilisons les informations que nous collectons pour fournir, maintenir et améliorer nos services, pour
        communiquer avec vous concernant votre compte ou vos demandes, pour personnaliser votre expérience utilisateur et
        pour vous envoyer des informations sur nos produits et services. Nous ne partagerons pas vos informations
        personnelles avec des tiers sans votre consentement, sauf dans les cas où cela est nécessaire pour fournir nos
        services ou lorsque la loi l'exige. </p>
  
      <h2>Protection des informations</h2>
      <p>
        Nous prenons des mesures de sécurité appropriées pour protéger vos informations personnelles contre tout accès non
        autorisé, toute altération, toute divulgation ou toute destruction. Nous limitons l'accès à vos informations
        personnelles aux employés qui ont besoin d'y accéder pour fournir nos services.
      </p>
  
      <h2>Vos droits</h2>
      <p>
        Vous avez le droit d'accéder à vos informations personnelles, de les rectifier, de les supprimer, de limiter leur
        traitement, de vous opposer à leur traitement ou de demander leur portabilité. Pour exercer vos droits ou si vous
        avez des questions sur notre politique de confidentialité, veuillez nous contacter à l'adresse suivante : <a href="mailto:hakoshi-support@gmail.com">hakoshi-support</a>.
      </p>
  
      <h2>Modifications de la politique de confidentialité</h2>
      <p>
        Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Toutes les
        modifications apportées seront publiées sur cette page. Nous vous encourageons à consulter régulièrement cette
        page pour rester informé de toute mise à jour.
      </p>
    </div>
  </section>
  