<section id="signin">
    <div class="container">
        <div class="form-container">
            <div class="logo-div">
                <img src="../../../assets/ressources/logo/logo.svg" alt="">
                <h3>LOGO</h3>
            </div>
            <div class="title-div">
                <h2>Se connecter</h2>
                <p>Connectez vous</p>
            </div>
            <div class="form-div">
                <div class="div-form ville">
                    <label for="ville">Email</label>
                    <input type="text" name="email" required>
                </div>
                <div class="div-form confirm-password">
                    <label for="confirm-password">Mot de passe</label>
                    <input type="password" name="password" required>
                </div>
            </div>
            <div class="submit-btn">
                <input class="submit" type="submit" value="Connexion">
            </div>
        </div>

        <div class="img-form">
            <img src="../../../assets/ressources/images/img_sushi/sushi-circle-sign.png" alt="signin">
        </div>
    </div>
</section>