<section id="signin">
  <div class="container">
    <form #form="ngForm" (ngSubmit)="onSubmit()" class="form-container">
      <div class="logo-div">
        <img src="../../../assets/ressources/logo/logo.svg" alt="">
        <h3>Hako Shi</h3>
      </div>
      <div class="title-div">
        <h2>Se connecter</h2>
        <a routerLink="/signin">Vous n'avez pas de compte ? Inscrivez-vous.</a>
      </div>
      <div class="form-div">

        <div class="div-form ville">
          <label for="ville">Email</label>
          <input type="email" name="email" [(ngModel)]="formData.email" required>
        </div>
        <div class="div-form confirm-password">
          <label for="confirm-password">Mot de passe</label>
          <input type="password" name="password" [(ngModel)]="formData.password" required>
        </div>

      </div>
      <div class="submit-btn">
        <input class="submit" type="submit" value="Connexion">
      </div>

    </form>

    <div class="img-form">
      <img src="../../../assets/ressources/images/img_sushi/sushi-circle-sign.png" alt="signin">
    </div>
  </div>
</section>
