<section id="section-box-details">
  <div class="btn-box-details">
    <a href="#"> <    Retourner aux boxes</a>
  </div>
  <div id="container">
    <h1 id="title-box"> Qqch Arigato</h1>
    <div class="left-img-box">
      <img src="../../../assets/ressources/images/img-detail/20.png" alt="box-details" />
    </div>
    <div class="right-element-box">
      <div id="info-box">
        <div id="composition-container">
        <p class="subtitle-text" id="composition-title">Composition: </p>
        <p class="info-text" id="composition-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
          porro recusandae aliquid
          et odio magni ut, rem explicabo eligendi, commodi provident reiciendis. Accusamus similique quis alias vel
          nemo praesentium consequatur.</p>
          </div>
        <p class="subtitle-text"><span id="saveur-title">Saveurs:</span><span class="info-text"
            id="saveur-text">Fromage,Viande,Wasabi</span></p>

      </div>
      <div id="achat-box">
        <div id="quantite-container">
          <span>Quantité: </span>
          <button class="btn-achat" (click)="decrement()">-</button>
          <input type="text" id="valeur" [value]="valeur" readonly>
          <button class="btn-achat" (click)="increment()">+</button>
        </div>
        <div id="total-container">
          <div id="total-container1">
            <span id="prix">10.99€</span>
            <p>Total <span id="texte1"> :</span><span id="texte2">du panier</span></p>
          </div>
          <div id="total-container2">
            <div class="btn-box-details">
              <a href="#">Ajouter au panier +</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
