* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// ?VARIABLES
$font-poppins: "Poppins", sans-serif;

// !COLOR
$black-color: #000;
$red-color: #dc2323;
$white-color: #fff;
$white-color-soft: hsla(0, 0%, 100%, 0.78);
$grey-color: #7d7d7d;
$grey-color-light: #262626;
$grey-color-dark: #292929;
$txt-grey: #454545;

#product-page {
  margin: 67px 0;
}

h2 {
  font-family: "eugusto_regularregular";
  font-size: 26px;
  text-align: center;
  font-weight: 400;
}

.img-card img {
  height: 168px;
}

.txt-container {
  margin-left: 12.5px;
  display: flex;
  flex-direction: column;
  height: 136px;
}
.txt-container h3 {
  color: $grey-color-light;
  font-family: $font-poppins;
  font-size: 17.19px;
  font-weight: 700;
  letter-spacing: 4%;
  margin-top: 13px;
  max-width: 158px;
}

.txt-container p {
  color: $grey-color;
  font-family: $font-poppins;
  font-size: 12.56px;
  font-weight: 400;
  //   max-width: 150px;
  margin-top: 6px;
}

.saveur {
  height: 57px;
  width: 174px;
}
.price-cart {
  display: flex;
  justify-content: space-between;
  // gap: 75px;
  margin-top: auto;
}

.price-cart p {
  color: $grey-color-dark;
  font-family: $font-poppins;
  font-size: 15.87px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 5px;
}

.cart {
  background-color: $black-color;
  padding: 9.92px;
  border-radius: 5.29px 5.29px 15.21px 5.29px;
  margin-right: 12px;
  cursor: text;
}

.card {
  background-color: $white-color-soft;
  border-radius: 0 0 29.75px 29.75px;
  display: inline-block;
  padding: 25.5px 25.5px 23px 25.5px;
}

h1 {
  color: $black-color;
  font-family: "eugusto_regularregular";
  font-size: 41px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 5%;
  max-width: 400px;
}

.header-info p {
  color: $txt-grey;
  font-family: $font-poppins;
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  max-width: 450px;
}

.header-info {
  display: none;
}

.container {
  margin: 0px auto;
}

.card-div {
  margin: 40px auto 0;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 243px);
  grid-gap: 20px;
  justify-content: center;
}

.item {
  display: inline-grid;
}

.saveur-box {
  // height: 58px;
}

.card {
  height: 374px;
}

@media screen and (min-width: 1100px) {
  #product-page {
    margin: 120px 0;
  }
  h2 {
    font-size: 30px;
    margin-top: 125px;
  }

  .img-header img {
    max-width: 375px;
    max-height: 250px;
    object-fit: cover;
    border-radius: 35px;
  }

  .header-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1020px;
    margin: 0 auto;
  }

  .img-card img {
    height: 196px;
  }

  .txt-container {
    margin-left: 15.6px;
    height: 180px;
  }
  .txt-container h3 {
    font-size: 20.08px;
    margin-top: 15.45px;
    max-width: 178px;
    line-height: 33px;
  }

  .txt-container p {
    font-size: 15px;
    margin-top: 7.7px;
  }
  .saveur {
    height: 66px;
    width: 204px;
  }
  .price-cart p {
    font-size: 18.5px;
  }

  .price-cart {
    // margin-top: 5.8px;
  }

  .card {
    border-radius: 0 0 34.75px 34.75px;
    padding: 30.3px 30.3px 26.7px 30.3px;
  }

  .cart {
    padding: 11.5px;
    border-radius: 6.18px 6.18px 17.76px 6.18px;
    margin-right: 14px;
  }

  .card-div {
    margin: 100px auto 0;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 285px);
    grid-gap: 40px;
    justify-content: center;
  }

  .saveur-box {
    // height: 67px;
  }

  .card {
    height: 435px;
  }
}

@media screen and (min-width: 1700px) {
  #product-page {
    margin: 80px 0px 245px 0px;
  }

  h2 {
    font-size: 40px;
    margin-top: 100px;
  }

  .img-card img {
    height: 255px;
  }
  .txt-container {
    margin-left: 19px;
  }
  .txt-container h3 {
    font-size: 26px;
    margin-top: 20px;
    max-width: 240px;
  }

  .txt-container p {
    font-size: 19px;
    margin-top: 10px;
    // max-width: 201px;
  }
  .saveur {
    height: 87px;
    width: 264px;
  }
  .price-cart p {
    font-size: 24px;
    margin-top: 8px;
  }

  .price-cart {
    // margin-top: 6px;
  }

  .card {
    border-radius: 0 0 45px 45px;
    padding: 40px 40px 35px 40px;
  }

  .cart {
    padding: 15px;
    border-radius: 8px 8px 23px 8px;
    margin-right: 18px;
  }

  .card-div {
    margin: 100px auto 0;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 370px);
    grid-gap: 54px;
    justify-content: center;
  }

  .container {
    max-width: 1683px;
  }

  .cart img {
    height: 23px;
    width: 23px;
  }

  .saveur-box {
    // height: 87px;
  }
  .txt-container {
    height: 193px;
  }
  .card {
    height: 536px;
  }
}
