<section id="product-page">
  <div class="container">
    <div class="header-info">
      <div class="txt">
        <h1>Une envie subite ? Régalez-vous de suite.</h1>
        <p>Découvrez nos délices sushi frais, prêts à satisfaire vos envies instantanées. Des saveurs exquises
          vous attendent pour une expérience culinaire unique.</p>
      </div>

      <div class="img-header">
        <img src="../../../assets/ressources/images/chef1.jpg" alt="">
      </div>
    </div>
    <div class="txt-info">
      <h2>Nos Plats Signature de Sushis</h2>
    </div>

    <div class="card-div">
      <a [routerLink]="['/details']" [queryParams]="{id: box.id_boxe}" class="item" *ngFor="let box of boxes"
        name="{{ box.id_boxe }}">
        <article class="card">
          <div class="img-card">
            <img [src]="'../../../assets/ressources/images/box-sushi/caree/' + box.image">
          </div>
          <div class=" txt-container">
            <h3>{{ box.nom }}</h3>
            <p class="saveur-box">{{ box.saveurs }}</p>

            <div class="price-cart">
              <p>{{ box.prix }}€</p>
              <!-- AJOUT DANS LE PANIER  -->
              <a class="cart">
                <img src="../../../assets/ressources/icons/Shopping_Cart-card.svg" alt="">
              </a>
            </div>

          </div>
        </article>
      </a>
    </div>
  </div>
</section>
