<header class="header" id="header">
  <nav class="nav container">
    <a routerLink="" class="logo">
      <img src="../../../assets/ressources/logo/logo.svg" alt="" />
      <h3>Hako Shi</h3>
    </a>

    <div class="nav__menu" id="nav-menu" [ngClass]="{'show-menu': isMenuOpen}">
      <ul class="nav__list">
        <li class="nav__item">
          <a routerLink="" fragment="section-home" class="nav__link" (click)="closeMenu()">Accueil</a>
        </li>
        <li class="nav__item">
          <a routerLink="/product" class="nav__link" (click)="closeMenu()">Nos boxes</a>
        </li>
        <li class="nav__item">
          <a href="#about" class="nav__link" (click)="closeMenu()">À propos</a>
        </li>
        <li class="nav__item" *ngIf="role === 'admin'">
          <a routerLink="/admin" class="nav__link" (click)="closeMenu()">Admin</a>
        </li>

        <a *ngIf="!isLoggedIn" routerLink="/login" id="login-btn" class="nav-connecter2" (click)="closeMenu()"><i
            class="ri-login-box-line"></i> Se connecter</a>

        <button *ngIf="isLoggedIn" id="logout-btn" class="nav-connecter2" (click)="onLogoutClick()">
          <i class="ri-logout-box-line"></i> Se déconnecter
        </button>
        <button *ngIf="isLoggedIn" id="user-btn" class="nav-connecter2" routerLink="profil">
          <i class="ri-user-line"></i>
        </button>
      </ul>
      <!-- CLOSE BUTTON  -->

      <div class="nav__close" id="nav-close" (click)="closeMenu()">
        <i class="ri-close-line"></i>
      </div>
    </div>

    <div class="nav__actions">
      <div class="cart-icons-div">
        <div routerLink="/panier" class="cart-div">
          <a>
            <img class="cart-icons" src="../../../assets/ressources/icons/Shopping_Cart.svg" alt="" />
          </a>
          <!-- effacer le span qd le panier est vide -->
          <span class="right-cart-number">{{ totalItems }}</span>
          <div></div>
        </div>

        <a *ngIf="!isLoggedIn" routerLink="/login" id="login-btn" class="nav-connecter1"><i
            class="ri-login-box-line"></i> Se connecter</a>
        <button *ngIf="isLoggedIn" id="logout-btn" class="nav-connecter-pc" (click)="onLogoutClick()">
          <i class="ri-logout-box-line"></i> Se déconnecter
        </button>
        <button *ngIf="isLoggedIn" id="user-btn" class="nav-connecter-pc" routerLink="profil">
          <i class="ri-user-line"></i>
        </button>
      </div>

      <div class="nav__toggle" id="nav-toggle" (click)="toggleMenu()">
        <img src="../../../assets/ressources/icons/app.svg" alt="" />
      </div>
    </div>
  </nav>
</header>
