<section id="section-home">
    <div class="right-info-home">
        <h1><span class="savourez-txt">Savourez</span> L'excellence Japonaise <span class="chez-nous-txt">Chez nous</span></h1>
        <p>Découvrez nos délices, fusion de saveurs authentiques et de créations contemporaines, pour une expérience
            culinaire exceptionnelle à chaque bouchée.</p>
        <a routerLink="product">Commander maintenant <img src="../../../assets/ressources/icons/arrow-right.svg" alt=""></a>
    </div>
    <div class="left-img-home">
        <img src="../../../assets/ressources/images/img_sushi/big-sushi-circle-home.png" alt="home" />
    </div>
</section>

<app-home-popular/>
<app-home-about/>