*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// ?VARIABLES
$font-poppins: "Poppins", sans-serif;

// !COLOR
$black-color: #000;
$red-color: #dc2323;
$white-color: #fff;
$orange-color: #D9AA52;
$grey-color: #454545;
$orange-color2: #d4c6b2;
$yellow-color: #d9cebc;
$pink-color: #cfb6ce;
$pink2-color: #d9b5c4;

#section-home {
    margin-top: 40px;
    margin-bottom: 107px;
}

.right-info-home h1 {
    font-family: "eugusto_regularregular";
    font-size: 48px;
    color: $black-color;
    line-height: 63px;
    padding-left: 24px;
    font-weight: 400;
    max-width: 649px;
}

.savourez-txt {
    color: $orange-color;
}

.chez-nous-txt {
    color: $red-color;
    position: relative;
    display: inline-block;
}

.chez-nous-txt::after {
    content: "";
    width: 100%;
    height: 6px;
    background-image: url("../../../assets/ressources/icons/underline-mobile.png");
    position: absolute;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
}

.right-info-home p {
    color: $grey-color;
    font-family: $font-poppins;
    font-size: 20px;
    font-weight: 500;
    padding: 0px 24px;
    margin-top: 27px;
    max-width: 570px;
}

.right-info-home a {
    border-radius: 60px 0px 39px 60px;
    background: $black-color;
    color: $white-color;
    font-family: $font-poppins;
    font-size: 17px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 25px;
    gap: 17px;
    max-width: 325px;
    margin: 42px auto 0px auto;
}

.left-img-home{
    display: none;
}



// SHAPE 
.home__shape-1,
.home__shape-2,
.home__shape-3,
.home__shape-4,
.home__shape-5 {
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    filter: blur(90px);
}

.home__shape-1 {
    width: 284px;
    height: 400px;
    background-color: $pink-color;
    top: 31px;
    left: 0px;
}

.home__shape-2 {
    width: 284px;
    height: 400px;
    background-color: $yellow-color;
    top: 500px;
    right: 0px;
}

.home__shape-3 {
    width: 284px;
    height: 352px;
    background-color: $pink-color;
    top: 1000px;
    left: 0px;
}

.home__shape-4 {
    width: 260px;
    height: 405px;
    background-color: $orange-color2;
    top: 2129px;
    left: 0px;
}

.home__shape-5 {
    width: 260px;
    height: 405px;
    background-color: $pink2-color;
    top: 3100px;
    right: 0px;
}



@media (min-width: 331px) {
    .right-info-home h1 {
        font-size: 57px;
    }

    .right-info-home a {
        padding: 20px 35px;
    }
}

@media (min-width: 531px) {
    .right-info-home a {
        margin: 36px 0px 0px 24px;
    }
}

@media (min-width: 848px) {
    .home__shape-1 {
        width: 318px;
        height: 454px;
        top: 31px;
        left: 0px;
    }

    .home__shape-2 {
        width: 349.57px;
        height: 482.09px;
        top: 400px;
        right: 54px;
    }


    .home__shape-3 {
        width: 255.73px;
        height: 352.6px;
        top: 869px;
        left: 50px;
    }

    .home__shape-4 {
        width: 294.14px;
        height: 405.64px;
        top: 1529px;
        left: 0px;
    }

    .home__shape-5 {
        width: 327px;
        height: 455px;
        top: 2098px;
        right: 0px;
    }
}
@media (min-width: 900px) {
    .right-info-home h1 {
        font-size: 66px;
        line-height: auto;
        padding: 0px;
        margin-top: 100px;
    }

    .right-info-home p {
        padding: 0px;
        margin-top: 29px;
    }

    .right-info-home a {
        margin: 36px 0px 0px;
    }

    .right-info-home {
        margin-left: 50px;
    }

    .chez-nous-txt::after {
        background-image: url("../../../assets/ressources/icons/underline-tablette.png");
    }

    #section-home {
        margin-top: 40px;
        margin-bottom: 140px;
    }
}


@media (min-width: 1100px) {
 .left-img-home {
    display: block;
 }

 .left-img-home img {
    height: 500px;
 }

 #section-home{
    display: flex;
    justify-content: center;
 }

 .chez-nous-txt::after {
    background-image: url("../../../assets/ressources/icons/underline-pc-port.png");
}

.right-info-home {
    margin-left: 0px;
}
}

@media (min-width: 1272px) {
    .home__shape-1 {
        width: 420.63px;
        height: 599.98px;
        top: 27px;
        left: 0px;
    }

    .home__shape-2 {
        width: 461.96px;
        height: 637px;
        top: 630px;
        right: 0px;
    }

    .home__shape-3 {
        width: 337.95px;
        height: 465.96px;
        top: 1292px;
        left: 137px;
    }

    .home__shape-4 {
        width: 388.72px;
        height: 536.06px;
        top: 1800px;
        right: 0px;
    }

    .home__shape-5 {
        width: 436.58px;
        height: 452.04px;
        top: 2100px;
        right: 0px;
    }
}

@media (min-width: 1300px) {
    .left-img-home img {
        height: 553px;
     }
     #section-home {
        margin-top: 40px;
        margin-bottom: 177px;
    }
}

@media (min-width: 1700px) {

    .right-info-home h1 {
        font-size: 82px;
        margin-top: 150px;
        max-width: 810px;
        line-height: 90px;
    }

    .right-info-home p {
        margin-top: 0px;
        font-size: 27px;
    }

    .right-info-home a {
        font-size: 21px;
        padding: 27px 45px;
        margin: 61px 0px 0px 0px;
        max-width: 396px;
    }

    .left-img-home img {
        height: 850px;
        margin-top: 50px;
     }

     #section-home{
        display: flex;
        margin-top: 0px;
     }

     .chez-nous-txt::after {
        height: 7px;
        background-image: url("../../../assets/ressources/icons/underline-pc.png");
    }

    #section-home {
        margin-top: 40px;
        margin-bottom: 107px;
    }
    .home__shape-1 {
        width: 580px;
        height: 827.31px;
        top: 56px;
        left: 0px;
    }

    .home__shape-2 {
        width: 637px;
        height: 878.48px;
        top: 1019px;
        right: 100px;
    }
    .home__shape-3 {
        width: 466px;
        height: 642.52px;
        top: 1932px;
        left: 213px;
    }

    .home__shape-4 {
        width: 336px;
        height: 400.18px;
        top: 2550px;
        right: 0px;
    }

    .home__shape-5 {
        width: 502px;
        height: 530.15px;
        top: 2500px;
        right: 0px;
    }
}
