<div class="container-grille">
  <app-nav-admin></app-nav-admin>
  <main>
    <!-- <p>admin-aliment works!</p> -->
    <table>
      <thead>
        <tr>
          <th class="id-th">ID Aliment</th>
          <th class="nom-th">Nom Aliment</th>
          <th class="action-th">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let aliment of aliments$ | async">
          <td class="id">#{{ aliment.id_aliment }}</td>
          <td>
            <input type="text" [(ngModel)]="aliment.nom_aliment" [readonly]="!editing[aliment.id_aliment]">
          </td>
          <td class="action">
            <button class="supr-btn" (click)="deleteAliment(aliment.id_aliment)"><img
                src="../../../assets/ressources/icons/Delete.svg" alt=""></button>
            <button class="edit-btn" (click)="editAliment(aliment.id_aliment, aliment.nom_aliment)">
              <img src="../../../assets/ressources/icons/Edit.svg" alt="" *ngIf="!editing[aliment.id_aliment]">
              <img src="../../../assets/ressources/icons/check-check.svg" alt="" *ngIf="editing[aliment.id_aliment]">
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <p>{{ errorMessage }}</p>
    <div class="div-add">
      <button class="add-aliment" (click)="addAliment()">Ajouter un aliment</button>
      <div *ngIf="showInputs" class="div-input">
        <input [(ngModel)]="nom_aliment" placeholder="Nom Aliment">
      </div>
    </div>

  </main>
</div>