* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

$barlow : "Barlow",
sans-serif;
$white : #ffffff;

.container-grille {
  width: 100%;
  display: grid;
  grid-template-columns: 136px 1fr 200px;
  //   grid-template-rows: auto 1fr auto;
}

.container-grille {
  background: #252836;
}

main {
  padding: 20px;
}

tr th {
  color: rgb(255, 255, 255);
  font-family: $barlow;
  font-size: 20.73px;
  font-weight: 600;
  color: $white;
  text-align: left;
  padding-right: 30px;
}

td {
  padding-right: 30px;
}

table {
  border-spacing: 0 17px;
}

.id {
  color: $white;
  font-family: $barlow;
  font-size: 20.73px;
  font-weight: 500;
}

input {
  box-sizing: border-box;
  border: 1.3px solid rgb(57, 60, 73);
  border-radius: 10.37px;
  background: rgb(45, 48, 62);
  color: #E0E6E9;
  font-family: $barlow;
  font-size: 18.14px;
  font-weight: 400;
  padding: 17px 17px 19px 17px;
  outline: none;
  min-width: 100px;
  width: 385px;
}

.supr-btn {
  background: transparent;
  border: 1.3px solid rgb(255, 124, 163);
  border-radius: 10.3px;
  padding: 14px;
}

.supr-btn img {
  height: 26px;
  width: 26px;
}


.edit-btn {
  background: transparent;
  border: 1.3px solid rgb(101, 143, 251);
  border-radius: 10.3px;
  padding: 14px;
}

.edit-btn img {
  height: 26px;
  width: 26px;
}

.action {
  display: flex;
  align-items: center;
  gap: 15px;
}

main .add-aliment {
  color: $white;
  font-family: $barlow;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10.37px;
  background: rgb(234, 124, 105);
  border: none;
  padding: 17px 50px;
  cursor: pointer;
  transition: ease-in-out 0.25s;
}

main .add-aliment:hover {
  box-shadow: 0px 10.37px 31.1px 0px rgba(234, 124, 105, 0.3);
}

.div-add {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 17px;
}

.div-add input {
  height: 56px !important;
}

.error {
  color: rgb(204, 93, 93);
  font-family: $barlow;
  font-size: 18.14px;
  font-weight: 400;
}