@font-face {
    font-family: 'eugusto_regularregular';
    src: url('eugusto_free_font-webfont.woff2') format('woff2'),
         url('eugusto_free_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}