<section id="signin">
    <div class="container">
        <div class="form-container">
            <div class="logo-div">
                <img src="../../../assets/ressources/logo/logo.svg" alt="">
                <h3>LOGO</h3>
            </div>
            <div class="title-div">
                <h2>S'inscrire</h2>
                <p>Crée votre compte</p>
            </div>
            <div class="form-div">
                <div class="left">
                    <div class="div-form nom">
                        <label for="nom">Nom</label>
                        <input type="text" formControlName="nom" required>
                    </div>
                    <div class="div-form email">
                        <label for="email">Email</label>
                        <input type="text" formControlName="email" required>
                    </div>
                    <div class="div-form rue">
                        <label for="rue">Rue</label>
                        <input type="text" formControlName="rue" required>
                    </div>
                    <div class="div-form password">
                        <label for="password">Mot de passe</label>
                        <input type="password" formControlName="password" required>
                    </div>
                </div>
                <div class="right">
                    <div class="div-form prenom">
                        <label for="prenom">Prénom</label>
                        <input type="text" formControlName="prenom" required>
                    </div>
                    <div class="div-form numero-voie">
                        <label for="numero-voie">Numéro de voie</label>
                        <input type="text" formControlName="numero_voie" required>
                    </div>
                    <div class="div-form ville">
                        <label for="ville">Ville</label>
                        <input type="text" formControlName="ville" required>
                    </div>
                    <div class="div-form confirm-password">
                        <label for="confirm-password">Confirm password</label>
                        <input type="password" formControlName="password" required>
                    </div>
                </div>
            </div>
            <div class="submit-btn">
                <input class="submit" type="submit" value="S'inscrire">
            </div>
        </div>

        <div class="img-form">
            <img src="../../../assets/ressources/images/img_sushi/sushi-circle-sign.png" alt="signin">
        </div>
    </div>
</section>