<div class="container">
  <img id="img-ban" src="../../../assets/ressources/images/sushi-header-image-allyoucaneat 1.png" alt="sushi">
  <div *ngIf="user" id="name">
    <h1>{{ user.prenom }}</h1>
  </div>


  <div *ngIf="user">

    <div class="div-form-profil">
      <div id="div-form-profil-left">
        <label for="nom">Nom</label>
        <input type="text" name="nom" [(ngModel)]="user.nom" [readonly]="!isEditing">
        <label for="prenom">Prenom</label>
        <input type="text" name="prenom" [(ngModel)]="user.prenom" [readonly]="!isEditing">
      </div>
      <div id="div-form-profil-right">
        <label for="email">Email</label>
        <input type="email" name="email" [(ngModel)]="user.email" [readonly]="!isEditing">
        <label for="adresse">Adresse</label>
        <input type="email" name="adresse" [(ngModel)]="user.adresse" [readonly]="!isEditing">
      </div>
    </div>

    <div class="submit-btn">
      <input class="submit" value="Modifier les informations" (click)="modifier()">
    </div>

  </div>

  <div class="txt-info">
    <h2>Historique des commandes</h2>
  </div>

  <div class="card-div">
    <article class="card" *ngFor="let achat of achats">
      <div class="img-card">
        <img [src]="'../../../assets/ressources/images/box-sushi/caree/' + achat.image">
      </div>
      <div class="txt-container">
        <h3>{{ achat.nom }}</h3>
        <p class="saveur-box">
          {{ addSpacesToSaveurs(achat.saveurs) }}
        </p>
        <div class="price-cart">
          <p>{{ achat.prix }}€</p>
        </div>
      </div>
    </article>
  </div>
</div>
