<footer>
    <div class="container-haut">
        <div class="logo">
            <img src="../../../assets/ressources/logo/logo.svg" alt="logo" />
            <h3>LOGO</h3>
        </div>
    
        <div class="footer-links">
            <ul>
                <li><a routerLink="">Home</a></li>
                <li><a routerLink="product">Nos boxes</a></li>
                <li><a  href="#about">À propos</a></li>
                <li><a routerLink="">Politique de confidentialité</a></li>
            </ul>
        </div>
    </div>

    <div class="copyright">
        <p>Copyright © 2023. Notre nom. All rights reserved.</p>
    </div>
</footer>