<div class="container-grille">
  <app-nav-admin></app-nav-admin>
  <main>
    <div class="info-container">
      <div class="info">
        <div class="icon-container">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-user-round">
          <circle cx="12" cy="8" r="5" />
          <path d="M20 21a8 8 0 0 0-16 0" />
        </svg>
        </div>
      </div>
      <h3>{{nombreDeUser}}</h3>
      <p class="nom">Nombre d'utilisateur</p>
    </div>

    <div class="container-table">

    <table>
      <thead>
        <tr>
          <th scope="col">ID Client</th>
          <th scope="col">Nom</th>
          <th scope="col">Prénom</th>
          <th scope="col">Adresse</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clients$ | async">
          <td data-label="ID Client" class="id">#{{ client.id_client }}</td>
          <td data-label="Nom" class="id">
            <input type="text" [(ngModel)]="client.nom" [readonly]="!editing[client.id_client]">
          </td>
          <td data-label="Prénom" class="id">
            <input type="text" [(ngModel)]="client.prenom" [readonly]="!editing[client.id_client]">
          </td>
          <td data-label="Adresse" class="id">
            <input type="text" [(ngModel)]="client.adresse" [readonly]="!editing[client.id_client]">
          </td>
          <td data-label="Email" class="id">
            <input type="text" [(ngModel)]="client.email" [readonly]="!editing[client.id_client]">
          </td>
          <td data-label="Role" class="id">
            <input type="text" [(ngModel)]="client.role" [readonly]="!editing[client.id_client]">
          </td>
          <td data-label="Actions" class="action id">
            <button class="supr-btn" (click)="deleteClient(client.id_client)"><img
                src="../../../assets/ressources/icons/Delete.svg" alt=""></button>
            <button class="edit-btn" (click)="editClient(client)">
              <img src="../../../assets/ressources/icons/Edit.svg" alt="" *ngIf="!editing[client.id_client]">
              <img src="../../../assets/ressources/icons/check-check.svg" alt="" *ngIf="editing[client.id_client]">
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

    <p class="error">{{ errorMessage }}</p>
    <div class="div-add">
      <button class="add-client" (click)="addClient()">Ajouter un client</button>
      <div class="input-add" *ngIf="showInputs">
        <input [(ngModel)]="nom" placeholder="Nom">
        <input [(ngModel)]="prenom" placeholder="Prénom">
        <input [(ngModel)]="adresse" placeholder="Adresse">
        <input [(ngModel)]="email" placeholder="Email">
        <input [(ngModel)]="password" placeholder="Password">
        <input [(ngModel)]="role" placeholder="Role">
      </div>
    </div>

  </main>
</div>