* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

$barlow : "Barlow",
sans-serif;
$white : #ffffff;


.icon-container svg{
  color: #65B0F6;
}

.icon-container{
  background-color: #252836;
  display: inline-block;
  padding: 7px 8px 4px 8px;
  border-radius: 8px;
}
.info-container{
  background-color: #1F1D2B;
  padding: 16px 16px 18px 16px;
  max-width: 200px;
  border-radius: 8px;
  margin-bottom: 50px;
}

.info-container h3{
  color: $white;
  font-size: 28px;
  font-family: $barlow;
  font-size: 700;
  margin: 13px 0px 16px 0px;
}

.nom{
  color: #ABBBC2;
  font-size: 14px;
  font-family: $barlow;
  font-size: 500;
}

.container-grille {
  // height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 136px 1fr;
  //   grid-template-rows: auto 1fr auto;
}

.container-grille {
  background: #252836;
}

main {
  padding: 20px;
}

tr th {
  color: rgb(255, 255, 255);
  font-family: $barlow;
  font-size: 20.73px;
  font-weight: 600;
  color: $white;
  text-align: left;
  padding-right: 30px;
}

td {
  padding-right: 30px;
}

table {
  border-spacing: 0 17px;
}

.id {
  color: $white;
  font-family: $barlow;
  font-size: 20.73px;
  font-weight: 500;
}

.input-txt {
  box-sizing: border-box;
  border: 1.3px solid rgb(57, 60, 73);
  border-radius: 10.37px;
  background: rgb(45, 48, 62);
  color: #E0E6E9;
  font-family: $barlow;
  font-size: 18.14px;
  font-weight: 400;
  padding: 17px 17px 19px 17px;
  outline: none;
  min-width: 100px;
  width: 385px;
}

.supr-btn {
  background: transparent;
  border: 1.3px solid rgb(255, 124, 163);
  border-radius: 10.3px;
  padding: 14px;
}

.supr-btn img {
  height: 26px;
  width: 26px;
}


.edit-btn {
  background: transparent;
  border: 1.3px solid rgb(101, 143, 251);
  border-radius: 10.3px;
  padding: 14px;
}

.edit-btn img {
  height: 26px;
  width: 26px;
}

.action {
  display: flex;
  align-items: center;
  gap: 15px;
}

main .add-saveur {
  color: $white;
  font-family: $barlow;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10.37px;
  background: rgb(234, 124, 105);
  border: none;
  padding: 17px 50px;
  cursor: pointer;
  transition: ease-in-out 0.25s;
}

main .add-saveur:hover {
  box-shadow: 0px 10.37px 31.1px 0px rgba(234, 124, 105, 0.3);
}

.div-add {
  margin-top: 10px;
  display: flex;
  gap: 17px;
}

.div-add input {
  // height: 56px !important;
}

.div-add button{
  display: inline-block;
}

.error {
  color: rgb(204, 93, 93);
  font-family: $barlow;
  font-size: 18.14px;
  font-weight: 400;
}

.label-check{
  display: flex;
  align-items: center;
  gap: 17px;
  margin-bottom: 20px;
}

.div-checked{
  display: flex;
  gap: 50px;
}

.alimet-div{
  columns: 3;
  column-gap: 50px;
}

.title{
  margin-bottom: 20px;
}

.container-input{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.input-add{
  margin-bottom: 30px;
}

.input-add input {
  box-sizing: border-box;
  border: 1.3px solid rgb(57, 60, 73);
  border-radius: 10.37px;
  background: rgb(45, 48, 62);
  color: #E0E6E9;
  font-family: $barlow;
  font-size: 18.14px;
  font-weight: 400;
  padding: 5px 5px 7px 8px;
  outline: none;
  width: 60px;
}

.file {
  display: none; 
}
.txt-file{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
}

.txt-file img{
  width: 80px;
}
.file  + label {
  padding: 15px 25px;
  background-color: transparent; /* Couleur de fond */
  color: white; /* Couleur du texte */
  cursor: pointer; /* Change le curseur en main lorsqu'on survole */
  border-radius: 5px; /* Coins arrondis */
  text-align: center;
  border: dashed 3px #ea7c69; 
  border-radius: 10px;
}

.file :active + label,
.file :focus + label {
  background-color: #ea7c69; /* Change la couleur de fond lorsque l'input est actif ou a le focus */
}

.nom{
  width: 300px;
}


table {
  // border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  // table-layout: fixed;
}

table caption {
  // font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: transparent;
  // border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  // text-align: center;
}

table th {
  // font-size: .85em;
  // letter-spacing: .1em;
  // text-transform: uppercase;
}

@media screen and (max-width: 1500px) {
  .nom{
    width: 200px;
  }
  .saveur{
    width: 100px;
  }
}
@media screen and (max-width: 1272px){
  .id {
    color: $white;
    font-family: $barlow;
    font-size: 16px;
    font-weight: 400;
  }

  .nom{
    width: 100px;
  }
  
}
@media screen and (max-width: 950px) {
  table {
    border: 0;
    max-width: 500px;
  }

  table caption {
    // font-size: 1.3em;
  }
  .responsive-table{
    display: flex;
    justify-content: center;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    // border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 30px;
  }
  
  table td {
    // border-bottom: 1px solid #ddd;
    display: block;
    // font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }



  .container-grille {
    // height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;

  }

  main{
    margin-bottom: 100px;
  }

  .div-add{
    flex-direction: column;
  }

  .container-input{
    flex-direction: column;
  }
  .txt-file {
    max-width: 200px;
  }

  .div-checked{
    flex-direction: column;
  }

  .alimet-div{
    columns: 1;
  }
}

@media screen and (max-width: 468px){
  .input-txt {
    width: 200px;
  }

}