<div class="container-grille">
  <app-nav-admin></app-nav-admin>
  <main>
    <div class="info-container">
      <div class="info">
        <div class="icon-container">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-package">
          <path d="m7.5 4.27 9 5.15" />
          <path
            d="M21 8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16Z" />
          <path d="m3.3 7 8.7 5 8.7-5" />
          <path d="M12 22V12" />
        </svg>
        </div>
      </div>
      <h3>16</h3>
      <p class="nom">Nombre de box disponible</p>
    </div>
    <div class="responsive-table">
    <table>
      <thead>
        <tr>
          <th scope="col">ID Box</th>
          <th scope="col" class="nom">Nom</th>
          <th scope="col">Prix</th>
          <th scope="col">Image</th>
          <th scope="col">Pièces</th>
          <th scope="col" class="saveur">Saveurs</th>
          <th scope="col">Aliments</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let box of boxes$ | async">
          <td data-label="ID Box" class="id">#{{ box.id_boxe }}</td>
          <td data-label="Nom" class="id">{{ box.nom }}</td>
          <td data-label="Prix" class="id">{{ box.prix }}</td>
          <td data-label="Image" class="id"><img [src]="'../../../assets/ressources/images/box-sushi/caree/' + box.image" alt="{{ box.nom }}"
              width="100px">
          </td>
          <td data-label="Pièces" class="id">{{ box.pieces }}</td>
          <td data-label="Saveurs" class="id">
            <ul>
              <li class="id" *ngFor="let saveur of box.saveurs">{{ saveur }}</li>
            </ul>
          </td>
          <td data-label="Aliments" class="id">
            <ul>
              <li class="id" *ngFor="let aliment of box.aliments">{{ aliment.nom }} - {{ aliment.quantite }}</li>
            </ul>
          </td>
          <td data-label="Actions" class="action" class="id">
            <!--<button (click)="editBox(box.id_boxe, box.nom, box.prix, box.image, box.pieces)">Modifier</button>-->

            <button class="supr-btn" (click)="deleteBox(box.id_boxe)">
              <img src="../../../assets/ressources/icons/Delete.svg" alt="">
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
    <p>{{ errorMessage }}</p>


    <div class="div-add">
      <div>
        <button class="add-saveur" (click)="addBoxAndUploadFile()">Ajouter une boxes</button>
      </div>

      <form [formGroup]="form">
        <div *ngIf="showInputs">
          <div class="container-input">
            <input class="input-txt" formControlName="nom" placeholder="Nom Boxes">
            <input class="input-txt" formControlName="prix" placeholder="Prix">
            <input class="input-txt file" id="file" formControlName="image" placeholder="Image" type="file" accept="image/*"
              (change)="fileProcess($event)">
            <label class="txt-file id" for="file"><img src="../../../assets/ressources/icons/cloud.svg" alt="">Choisir une image</label>
            <input class="input-txt" formControlName="pieces" placeholder="Pièces">
          </div>

          <div class="div-checked">

            <div formArrayName="saveurs">
              <p class="id title">Saveurs</p>
              <div *ngFor="let saveur of allSaveurs; index as i">

                <label class="id label-check">
                  <input type="checkbox" [formControlName]="i" [value]="saveur.id_saveur">
                  {{saveur.nom_saveur}}
                </label>
                <div class="id" *ngIf="isSaveurSelected(saveur.id_saveur)">
                  Saveur sélectionnée : {{saveur.nom_saveur}}
                </div>
              </div>
            </div>

            <div formArrayName="aliments">
              <p class="id title">Aliments</p>

              <div class="alimet-div">
                <div *ngFor="let aliment of aliments.controls; let i = index">
                  <div [formGroupName]="i">
                    <label class="id label-check">
                      <input type="checkbox" formControlName="selected">
                      {{allAliments[i].nom_aliment}}
                    </label>
                    <div class="id input-add" *ngIf="aliment.get('selected')?.value">
                      Quantité :
                      <input type="number" formControlName="quantite">
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </form>
    </div>
  </main>
</div>