<section id="popular">
    <div class="container-popular">
    <h2>Les plus populaires</h2>

    <div class="container-card">
        <div class="all-card">
            <div class="card-div">
                <div class="card-img">
                    <img src="../../../assets/ressources/images/img-sushi-card-popular/1.png" alt="">
                </div>
                <div class="card-bg">
                    <!-- remplacer par le nom du sushi -->
                    <h3>Tasty Blend</h3>

                    <!-- remplacer par les saveur du sushi -->
                    <p>Coriandre, Saumon,
                        Avocat, Cheese</p>
                    <div class="price-cart">
                        <!-- remplacer par le prix du sushi -->
                        <p>12,99€</p>
                        <div class="cart">
                            <img src="../../../assets/ressources/icons/Shopping_Cart-card.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="all-card">
            <div class="card-div">
                <div class="card-img">
                    <img src="../../../assets/ressources/images/img-sushi-card-popular/1.png" alt="">
                </div>
                <div class="card-bg">
                    <!-- remplacer par le nom du sushi -->
                    <h3>Tasty Blend</h3>

                    <!-- remplacer par les saveur du sushi -->
                    <p>Coriandre, Saumon,
                        Avocat, Cheese</p>
                    <div class="price-cart">
                        <!-- remplacer par le prix du sushi -->
                        <p>12,99€</p>
                        <div class="cart">
                            <img src="../../../assets/ressources/icons/Shopping_Cart-card.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="all-card">
            <div class="card-div">
                <div class="card-img">
                    <img src="../../../assets/ressources/images/img-sushi-card-popular/1.png" alt="">
                </div>
                <div class="card-bg">
                    <!-- remplacer par le nom du sushi -->
                    <h3>Tasty Blend</h3>

                    <!-- remplacer par les saveur du sushi -->
                    <p>Coriandre, Saumon,
                        Avocat, Cheese</p>
                    <div class="price-cart">
                        <!-- remplacer par le prix du sushi -->
                        <p>12,99€</p>
                        <div class="cart">
                            <img src="../../../assets/ressources/icons/Shopping_Cart-card.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="all-card quatre">
            <div class="card-div">
                <div class="card-img">
                    <img src="../../../assets/ressources/images/img-sushi-card-popular/1.png" alt="">
                </div>
                <div class="card-bg">
                    <!-- remplacer par le nom du sushi -->
                    <h3>Tasty Blend</h3>

                    <!-- remplacer par les saveur du sushi -->
                    <p>Coriandre, Saumon,
                        Avocat, Cheese</p>
                    <div class="price-cart">
                        <!-- remplacer par le prix du sushi -->
                        <p>12,99€</p>
                        <div class="cart">
                            <img src="../../../assets/ressources/icons/Shopping_Cart-card.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="btn">
        <a href="#">Voire toutes les boxes <img src="../../../assets/ressources/icons/arrow-right.svg" alt=""></a>
    </div>
</div>
</section>