<section id="popular">
  <div class="container-popular">
    <h2>Les plus populaires</h2>

    <div class="container-card">
      <div class="all-card" *ngFor="let box of boxes; let i = index" [hidden]="i >= 4">
        <div class="card-div">
          <div class="card-img">
            <img [src]="box.image" alt="">
          </div>
          <div class="card-bg">
            <h3>{{ box.nom }}</h3>
            <p>{{ box.composition }}</p>
            <div class="price-cart">
              <p>{{ box.prix }}€</p>
              <div class="cart">
                <img src="../../../assets/ressources/icons/Shopping_Cart-card.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="btn">
      <a href="#">Voire toutes les boxes <img src="../../../assets/ressources/icons/arrow-right.svg" alt=""></a>
    </div>
  </div>
</section>
